<h1>New booking</h1>

<p>
  Someone has booked to attend your heat pump visit event on
  <strong><%= @event.date.strftime("%A %d %b %G") %></strong>,
  <strong><%= @event.start_at.strftime("%H:%M") %> - <%= @event.end_at.strftime("%H:%M") %></strong>.
</p>

<h2>Booking details</h2>
<p>
  <strong>Name:</strong> <%= @booking.full_name %>
</p>
<p>
  <strong>Email:</strong> <%= @booking.email %>
</p>
<p>
  <strong>No. of visitors:</strong> <%= @booking.quantity %>
</p>
<p>
  <strong>Additional information:</strong> <%= @booking.notes %>
</p>
