<div class="max-w-screen-md mx-auto">
  <h1>Visit a heat pump near <%= params[:postcode]&.upcase || 'you' %></h1>

  <%= js_map @hosts %>

  <section class="mt-8">
    <%- @hosts.each do |h| %>
      <div class="flex items-center py-3 border-t border-gray-400">
        <div class="grow">
          <h2 class="mb-1"><%= h.display_name %></h2>

          <p class="mb-1"><%= h.subtitle %></p>

          <p class="mb-1">
            <%= h.city %>
            <%- if params[:postcode] %>
              <span class="text-sm">
                <%# TODO: cache %>
                (<%= h.distance_from(params[:postcode]).round(1) %> miles away)
              </span>
            <% end %>
          </p>

          <p class="text-sm"><%= pluralize(h.events.active.count, 'upcoming event') %></p>
        </div>
        <%= link_to 'View', h, class: 'btn bg-indigo-600 text-white shrink-0 ml-3' %>
      </div>
    <% end %>
  </section>
</div>
