<%= simple_form_for host do |f| %>
  <section class="py-6 border-t border-indigo-600">
    <div class="flex items-start mb-2">
      <%= image_tag 'home-icon-indigo-600.svg', alt: 'Indigo outline of house icon' %>
      <h2 class="ml-3 text-3xl text-indigo-600">About your home</h2>
    </div>

    <p class="mb-6 italic">To create an event with our service, we will need to collect your address details. This information will only be shared with registered visitors and won't be published online at any point.</p>

    <%= f.input :street_address %>
    <div class="flex gap-2">
      <%= f.input :city, wrapper_html: { class: 'grow' } %>
      <%= f.input :postcode, wrapper_html: { class: 'grow' } %>
    </div>
    <%= f.input :property_type, as: :select, collection: Host::PROPERTY_TYPES %>
    <div class="flex gap-2">
      <%= f.input :no_of_bedrooms, wrapper_html: { class: 'w-1/2' }, input_html: { min: 1 } %>
      <%= f.input :property_age, collection: Host::PROPERTY_AGES,  wrapper_html: { class: 'grow' } %>
    </div>
    <%= f.input :useful_info %>
    <%= f.input :upcoming_dates %>

    <%= f.input :profile_picture, as: :file, input_html: { accept: 'image/*', class: 'mt-2' } %>
    <% if host.profile_picture.attached? && host.profile_picture.persisted?%>
      <div class="mb-4">
        <em class="text-sm"><%= host.profile_picture.blob.filename %></em>
        <%= image_tag host.profile_picture, alt: 'Host profile pictire', width: 250 %>
      </div>
    <% end %>

    <%= f.input :description, as: :rich_text_area %>
  </section>

  <section class="py-6 border-t border-indigo-600">
    <div class="flex items-start mb-5">
      <%= image_tag 'hp-icon-white.svg', alt: 'Indigo outline of heat pump icon' %>
      <h2 class="ml-3 text-3xl text-indigo-600">About your heat pump</h2>
    </div>
    <%= f.input :hp_type, as: :select, collection: Host::HP_TYPES %>
    <%= f.input :hp_manufacturer %>
    <%= f.input :hp_size, input_html: { min: 1 } %>
    <%= f.input :hp_year_of_install, collection:  Date.today.year.downto(2000) %>
  </section>

  <%= f.button :submit, 'Save', class: 'btn bg-indigo-600 text-white w-full', data: { turbo_submits_with: 'Saving...' } %>
<% end %>
