<h1><%= host.user.first_name.pluralize %> show home</h1>

<section class="flex gap-8 mb-6">
  <div class="w-1/2">
    <%= image_tag host.profile_picture %>
  </div>
  <div class="w-1/2">
    <%= host.property_type %>
    &middot;
    <%= host.hp_type %>
  </div>
</section>

<section>
  <h2>Upcoming events</h2>

  <%- @events.each do |e| %>
    <div class="flex items-center py-3 border-t border-gray-300">
      <div class="w-1/3">
        <%= e.date.strftime("%d %b %G") %>
      </div>
      <div class="w-1/3">
        <%= e.start_at.strftime("%H:%M") %> - <%= e.end_at.strftime("%H:%M") %>
      </div>
      <div class="w-1/3">
        <%= e.bookings.count %> of <%= e.capacity %> bookings
      </div>
      <%= link_to 'Book a visit', new_host_event_booking_path(@host, e), class: 'btn bg-blue-600 text-white shrink-0' %>
    </div>
  <% end %>
</section>
