<div id="<%= dom_id host %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Street address:</strong>
    <%= host.street_address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= host.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Postcode:</strong>
    <%= host.postcode %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lat:</strong>
    <%= host.lat %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lng:</strong>
    <%= host.lng %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Property type:</strong>
    <%= host.property_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hp type:</strong>
    <%= host.hp_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this host", host, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this host', edit_host_path(host), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
