<div class="flex flex-wrap gap-8 mt-6">
  <section class="w-full lg:w-1/3 ">
    <%= render 'sidebar' %>
  </section>

  <section class="grow">
    <div class="flex justify-between items-baseline mb-2">
      <h2>My events</h2>
      <%- if @host %>
        <%= link_to 'Add event', new_host_event_path(@host), class: 'btn bg-indigo-600 text-white' %>
      <% end %>
    </div>

    <nav class="my-4">
      <%= link_to "Upcoming events", host_home_path, class: "link", data: { turbo_frame: :tab_content } %>
      <span class="mx-2">&middot;</span>
      <span class="font-bold">Past events</span>
      <span class="mx-2">&middot;</span>
      <%= link_to "Cancelled events", host_cancelled_path, class: "link", data: { turbo_frame: :tab_content } %>
    </nav>

    <%= render 'events_list', no_events_msg: 'No past events', edit: false %>
  </section>
</div>

<%= render 'help' %>
