<% if @host == current_user&.host %>
  <div class="flex items-center justify-between">
    <%= link_to "‹ Back", host_home_path, class: "link text-gray-700" %>
    <%= link_to 'Edit profile', edit_host_path(@host), class: "btn-sm bg-indigo-600 text-white" %>
  </div>
<% else %>
  <%= link_to "‹ Back", :back, class: "link text-gray-700" %>
<% end %>

<section class="mt-4">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 h-72">
      <div class="bg-cover bg-center h-72" style="background-image: url(<%= url_for(@host.profile_picture) %>)"></div>
    </div>

    <div class="w-full md:w-1/2 p-8 bg-indigo-600 text-white">
      <h1><%= @host.display_name %></h1>
      <p class="mb-3"><%= @host.subtitle %></p>
      <div class="text-l">
        <p class="flex items-center gap-4 mb-3">
          <%= image_tag 'location-pin-icon.svg', alt: 'White location pin icon', width: 30, height: 30 %>
          <%= @host.city %>
        </p>
        <p class="flex items-center gap-4 mb-3">
          <%= image_tag 'home-icon-white.svg', alt: 'White outline of a house icon', width: 30, height: 30 %>
          <%= @host.no_of_bedrooms %> bedrooms
        </p>
        <p class="flex items-center gap-4">
          <%= image_tag 'hp-icon-white.svg', alt: 'White outline of heat pump icon', width: 30, height: 30 %>
          <%= @host.hp_type %> heat pump
        </p>
      </div>
    </div>
  </div>
</section>

<section class="my-8">
  <h2>Upcoming events</h2>

  <% if @events.any? %>
    <%- @events.each do |e| %>
      <div class="flex items-center py-3 border-t border-gray-300">
        <div class="w-1/3">
          <%= e.date.strftime("%d %b %G") %>
        </div>
        <div class="w-1/3">
          <%= e.start_at.strftime("%H:%M") %> - <%= e.end_at.strftime("%H:%M") %>
        </div>
        <div class="w-1/3">
          <%= e.bookings.sum(:quantity) %> of <%= e.capacity %> places taken
        </div>
        <%= link_to 'Book a visit', new_host_event_booking_path(@host, e), class: 'btn bg-indigo-600 text-white shrink-0' %>
      </div>
    <% end %>
  <% else %>
    <div class="p-6 border border-gray-300">
      <h2 class="text-gray-500">No upcoming events</h2>
      <p class="my-3">Get notified about new events. You can unsubscribe at any time.</p>
      <input type="text" placeholder="Your email" class="input string mb-4">
      <input type="button" value="Join the waitlist" class="btn bg-indigo-600 text-white">
    </div>
  <% end %>
</section>
