<div class="max-w-prose mx-auto my-6">
  <h1>Cancel booking</h1>

  <p class="text-lg mb-6">You have requested to cancel your booking for the following event.</p>

  <section class="mb-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/2">
        <div class="bg-cover bg-center h-64" style="background-image: url(<%= url_for(@host.profile_picture) %>)"></div>
      </div>

      <div class="w-full md:w-1/2 p-6 bg-indigo-600 text-white">
        <h2><%= @host.user.first_name.pluralize %> show home</h2>
        <p class="flex items-center gap-4 mb-4">
          <%= image_tag 'location-pin-icon.svg', alt: 'White location pin icon', width: 30, height: 30 %>
          <%= @host.city %>
        </p>
        <p class="flex items-center gap-4 mb-4">
          <%= image_tag 'home-icon-white.svg', alt: 'White outline of a house icon', width: 30, height: 30 %>
          <%= @host.property_type %>, <%= @host.no_of_bedrooms %> bedrooms
        </p>
        <p class="flex items-center gap-4">
          <%= image_tag 'hp-icon-white.svg', alt: 'White outline of heat pump icon', width: 30, height: 30 %>
          <%= @host.hp_type %> heat pump
        </p>
      </div>
    </div>
  </section>

  <div class="border-2 border-indigo-600 p-4 mb-6">
    <h2><%= @booking.event.date.strftime("%A %d %b %G") %></h2>
    <%= @booking.event.start_at.strftime("%H:%M") %> - <%= @booking.event.end_at.strftime("%H:%M") %>
  </div>

  <p class="mb-4">Click the button below to confirm your cancellation. This cannot be undone and you will receive email confirmation.</p>

  <%= link_to 'Confirm cancellation', confirm_booking_cancellation_path(params[:token]), class: 'btn w-full bg-indigo-600 text-white', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
</div>
