<!DOCTYPE html>
<html>
  <head>
    <title>Visit a heat pump</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="flex flex-col h-screen">
    <header class="bg-indigo-600 text-white">
      <nav class="container mx-auto my-3 px-4 flex items-center justify-between">
        <%= link_to root_path, class: 'my-1 flex items-center' do %>
          <%= image_tag 'logo.svg', alt: 'White outline of heat pump icon', width: 43 %>
          <span class="ml-4 font-extrabold text-lg">Visit a heat pump</span>
        <% end %>
        <div class="font-semibold">
          <%= link_to 'Visit', root_path, class: controller_name == 'visitors' ? 'underline' : 'hover:underline' %>
          <span class="mx-2">&middot;</span>
          <%= link_to 'Host', host_home_path, class: controller_name == 'hosts' ? 'underline' : 'hover:underline' %>
          <%- if user_signed_in? %>
            <span class="mx-2">&middot;</span>
            <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: 'hover:underline' %>
          <% else %>
            <span class="mx-2">&middot;</span>
            <%= link_to 'Sign in', new_user_session_path, class: 'hover:underline' %>
          <% end %>
        </div>
      </nav>

    </header>

    <div class="container mx-auto">
      <% if notice %>
        <p class="mx-4 mt-4 py-2 px-4 bg-indigo-100 text-indigo-900 rounded"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="mx-4 mt-4 py-2 px-4 bg-yellow-100 text-yellow-900 rounded"><%= alert %></p>
      <% end %>
    </div>

    <main class="container mx-auto flex-1 p-4">
      <%= yield %>
    </main>

    <footer class="bg-gray-500 text-white text-sm">
      <div class="container mx-auto my-3 px-4">
        <div class="flex flex-wrap pt-4">
          <div class="w-full md:w-8/12 pr-0 md:pr-4 mb-4">
            <dhttps: class="flex items-center mb-3">
              <%= image_tag 'hp-icon-white.svg' %>
              <h2 class="mb-0 ml-3">Visit a heat pump</h2>
            </dhttps://assets-global.website-files.com/62ebb589227cd89080e017a5/6491cf20c28f07cb87a63376_Heat%20pump%20install_Outside%20Glasgow_Feb%202023_Nesta-27-p-800.jpgiv>
            <p>
              Visit a heat pump is a pilot service run by Nesta, the UK's innovation agency for social good. Nesta's sustainable future mission is working to accelerate the decarbonisation of household activities in the UK and improve levels of productivity. Our goal is that, by 2030, the UK will have reduced household carbon emissions by 28% from 2019 levels, and will be on track to reach zero by 2048.
            </p>
          </div>
          <div class="w-full md:w-4/12 mb-4 border-l-none md:border-l border-white pl-0 md:pl-4">
            <div class="flex flex-col gap-4">
              <%= link_to 'About us', 'https://www.visitaheatpump.com/about', class: 'link', target: '_blank', rel: 'noopener' %>
              <%= link_to 'Terms of use', 'https://www.visitaheatpump.com/terms-of-use', class: 'link', target: '_blank', rel: 'noopener' %>
              <%= link_to 'Privacy policy', 'https://www.visitaheatpump.com/privacy-policy', class: 'link', target: '_blank', rel: 'noopener' %>
              <a href="mailto:visitaheatpump@nesta.org.uk" class="link">visitaheatpump@nesta.org.uk</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
